@tailwind base;
@tailwind components;
@tailwind utilities;

.content::-webkit-scrollbar {
    width: 1rem;
    height: 100%;
  }

.content::-webkit-scrollbar-track {
    background: #404040;
}

.content::-webkit-scrollbar-thumb {
    background: #272727;
}